* {
    margin: 0;
    padding: 0;
}

.menu.dropdown {
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 0;
    width: 100%;
}

.menu.dropdown ul{
    padding: 0;
}

.menu.dropdown ul li{
    background-color: #ebf8a18c;
    color: white;
    float:left;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    list-style: none;
    text-align: center;
    width: 200px;
}

.menu.dropdown ul li ul{
    display: none;
}

.menu.dropdown ul li:hover > ul {
    display: block;
}

.menu.dropdown ul li:hover {
    background-color: rgba(255, 255, 255, 0.582);
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 350px;
}

.main.title {
    align-items: center;
    border: white;
    color: white;
    display: flex;
    font-size: 32px;
    justify-content: center;
}

.alexa.referal {
    color: #ebf8a1d3;
    margin-left: 8px;
}

.copyright {
    border: white;
    color: rgba(255, 255, 255, 0.582);
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.github.referal {
    color: rgba(255, 255, 255, 0.582);
    margin-left: 5px;
    text-decoration: none;
}

.github.referal:hover {
    text-decoration: underline;
}

section {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.150)), url("../../images/bg-b.jpg");
    height: 100vh;
    position: relative;
    overflow: hidden;;
    width: 100%;
}

section .wave {
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    animation-delay: 0s;
    background: url("../../images/wave6.png");
    background-size: 1000px 100px;
    bottom: 0;
    opacity: 0.7;
    z-index: 1000;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    animation-delay: -5s;
    background: url("../../images/wave2.png");
    background-size: 1000px 100px;
    bottom: 7px;
    opacity: 0.5;
    z-index: 999;
}

section .wave.wave3 {
    animation: animate 30s linear infinite;
    animation-delay: -2s;
    background: url("../../images/wave3.png");
    background-size: 1000px 100px;
    bottom: 15px;
    opacity: 0.2;
    z-index: 998;
}

section .wave.wave4 {
    animation: animate2 5s linear infinite;
    animation-delay: -5s;
    background: url("../../images/wave4.png");
    background-size: 1000px 100px;
    bottom: 20px;
    opacity: 0.3;
    z-index: 997;
}

section .wave.wave5 {
    animation: animate 5s linear infinite;
    animation-delay: -5s;
    background: url("../../images/wave5.png");
    background-size: 1000px 100px;
    bottom: 25px;
    opacity: 0.1;
    z-index: 996;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}